@font-face {
  font-family: 'stvideo';
  src: url('../fonts/stvideo.eot?21066397');
  src: url('../fonts/stvideo.eot?21066397#iefix') format('embedded-opentype'),
       url('../fonts/stvideo.woff2?21066397') format('woff2'),
       url('../fonts/stvideo.woff?21066397') format('woff'),
       url('../fonts/stvideo.ttf?21066397') format('truetype'),
       url('../fonts/stvideo.svg?21066397#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}

/*volume-off { content: '\e800'; }*/
/*volume-down { content: '\e801'; }*/
/*volume { content: '\e802'; }*/
/*volume-up { content: '\e803'; }*/
/*pause { content: '\f00e'; }*/
/*play { content: '\f00f'; }*/


.stvideo-box {
  margin: 0 auto;
  width: 100%;
  max-width: 524px;
  position: relative;
}

.stvideo-box * {
  margin: 0;
  padding: 0;
}

.stvideo-box *:before {
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.stvideo-box__player {
  padding-bottom: 56.25%;
  width: 100%;
  height: 0;
  position: relative;
}

.stvideo-box video,
.stvideo-box canvas {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0; left: 0;
}

.stvideo-box__play {
  cursor: pointer;
  margin-top: -5%;
  margin-left: -5%;
  padding-bottom: 10%;
  width: 10%;
  height: 0;
  position: absolute;
  top: 50%; left: 50%;
  z-index: 5;
  background: rgba(236,240,241,0.95);
  border-radius: 100%;
  transition: opacity 0.3s linear, visibility 0s linear 0.3s;
}

.stvideo-box__play:before {
  content: '\f00f';
  font-size: 24px;
  line-height: 1;
  font-family: stvideo;
  color: #1bb592;
  margin-left: 2px;
  position: absolute;
  top: 50%; left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  transition: color 0.3s linear;
}

.stvideo-box__play:hover:before {
  color: #179d7e;
}

.stvideo-box--is-playing .stvideo-box__play {
  opacity: 0;
  visibility: hidden;
}

.stvideo-box__controls {
  padding: 12px 86px 12px 40px;
  width: 100%;
  position: absolute;
  bottom: 0; left: 0;
  z-index: 5;
  background: #253244;
  box-sizing: border-box;
}

.stvideo-box--has-audio .stvideo-box__controls {
  padding-left: 65px;
}


.stvideo-box__play-pause {
  cursor: pointer;
  position: absolute;
  top: 10px; left: 12px;
}

.stvideo-box__play-pause:before {
  content: '\f00f';
  font-size: 16px;
  line-height: 1;
  font-family: stvideo;
  color: #1bb592;
}

.stvideo-box__play-pause:hover:before {
  color: #179d7e;
}

.stvideo-box--is-playing .stvideo-box__play-pause:before {
  content: '\f00e';
}

.stvideo-box__timeline {
  width: 100%;
  height: 12px;
  overflow: hidden;
  position: relative;
  background: #ecf0f1;
  border-radius: 5px;
}

.stvideo-box__progress {
  width: 0;
  height: 100%;
  background: #1abc9c;
  transition: width 0.15s linear;
}

.stvideo-box__duration {
  font-size: 12px;
  line-height: 1;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: absolute;
  top: 12px; right: 8px;
}

.stvideo-box__volume {
  display: none;
  cursor: pointer;
  position: absolute;
  top: 10px; left: 40px;
}

.stvideo-box__volume:before {
  content: '\e802';
  font-size: 16px;
  line-height: 1;
  font-family: stvideo;
  color: rgba(236,240,241,0.95);
}

.stvideo-box--has-audio .stvideo-box__volume {
  display: block;
}

.stvideo-box--is-muted .stvideo-box__volume:before {
  content: '\e800';
}
